# Auto detect text files and perform LF normalization
* text = auto

# Custom for Visual Studio
* .cpp text
* .h text
* .hpp text

# Standard to msysgit
* .cpp crlf diff
* .h crlf diff
* .hpp crlf diff